services:
  mikupad:
    build:
      context: ..
      dockerfile: server/Dockerfile
    ports:
      - 3000:3000
    env_file:
      - .env
    restart: unless-stopped
    volumes:
      - storage:/storage

volumes:
  storage:
